body {
    background-color: #1f1d1d;
    font-family: Roboto 'Gill Sans', sans-serif;
    padding: 2%;
}

.top-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top-title {
    color: wheat;
    letter-spacing: 0.1em;
    font-size: 3em;
    background: linear-gradient(90deg,
            rgba(249, 211, 180, 1) 0%,
            rgba(249, 211, 180, 0) 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.cards-container{
    margin: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;   
    gap: 1%; 
}

